<br />

<div class="booyah-box col-10 offset-1">
  <h1>Current Team</h1>

  <div class="row">
    <div class="col-sm 3 col-12 offset-1">
      Headmaster Albus Dumbledore
      <br />
      <%= image_tag ('dumbledore.jpg'), class: 'team-pic' %>
    </div>
    <div class="col-sm 3 col-12 offset-1">
      Professor Minerva McGonagall
      <br />
      <%= image_tag ('minerva.jpg'), class: 'team-pic' %>
    </div>
    <div class="col-sm 3 col-12 offset-1">
      Professor Severus Snape
      <br />
      <%= image_tag ('snape.jpg'), class: 'team-pic' %>
    </div>
  </div>
  <br />